* {
  box-sizing: border-box;
}
* {
  outline: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #007fff;
}
.flex {
  display: flex;
  height: 100%;
}
.boite {
  display: flex;
}
.boite {
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  width: 650px;
  min-height: 100px;
  background-color: #3894b2;
  justify-content: center;
  align-items: center;
}
.didacticiel {
  background-image: url("assets/plage.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
  border-radius: 0 0 0 0;
}
.epilogue {
  background-image: url("assets/reset.gif");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
  border-radius: 0 0 0 0;
  opacity: 85%;
}
img {
  position: relative;
  top: -10px;
  margin: auto;
  border-radius: 15px 15px 15px 15px;
  min-width: 300px;
  height: 300px;
}
.video {
  position: relative;
  bottom: 13px;
  object-fit: fill;
  margin: auto;
  border-radius: 15px 15px 15px 15px;
  min-width: 300px;
  height: 300px;
}
.titre {
  display: flex;
}
.titre {
  margin: auto;
  padding-top: 10px;
  font-size: 47px;
  font-family: Audiowide, sans-serif;
  color: black;
  justify-content: center;
  align-self: center;
}
.texte {
  display: flex;
}
.texte {
  text-align: justify;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  margin: auto;
  padding-bottom: 14px;
  width: 91%;
  align-self: center;
  font-family: lato, sans-serif;
  color: black;
}
h2 {
  display: flex;
}
h2 {
  align-self: center;
  font-family: lato, sans-serif;
  color: black;
}
.flex,
h1,
.texte,
h2,
img,
.boite {
  flex-direction: column-reverse;
}
.flex,
h1,
.boite {
  order: 2;
}
.boite,
h2,
.flex {
  order: 1;
}
.boite,
.bouton {
  order: -2;
}
.boite,
.revisionChoix {
  order: -3;
}
.bouton {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin: auto;
}
.no1 {
  color: black;
}
.no2 {
  color: black;
}
.no3 {
  color: black;
}
button {
  position: relative;
  bottom: 15px;
  font-family: lato, sans-serif;
  font-weight: bold;
  background-color: #007fff;
  display: inline-block;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  border-style: none;
  cursor: pointer;
  transition: 1.5s;
}
button:hover {
  background: #15f4ee;
  box-shadow: 0 5px 20px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee,
    0 5px 20px 0 #15f4ee inset, 0 5px 20px 0 #15f4ee;
  text-shadow: 0 0 5px #15f4ee;
}
#son {
  position: relative;
  left: -186px;
  top: -5px;
}
.sons {
  position: relative;
  left: -233px;
  top: -7px;
  font-family: lato, sans-serif;
  color: white;
  font-weight: bold;
}
.reinitialiser {
  position: relative;
  left: 215.5px;
  top: -8.5px;
  color: white;
}
@media screen and (min-width: 1920px) {
  .flex {
    width: 90%;
  }
  .boite {
    width: 90%;
  }
  .image {
    width: 90%;
  }
  .no {
    width: 90%;
  }
  .revisionChoix {
    width: 90%;
  }
  .reinitialiser {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }
  .flex {
    width: 90%;
  }
  .boite {
    width: 90%;
  }
  .image {
    width: -40%;
  }
  .no {
    width: 90%;
  }
  .revisionChoix {
    width: 90%;
  }
  .titre {
    width: 57%;
  }
  .reinitialiser {
    top: -20px;
    width: -90%;
  }
}
