* {
  box-sizing: border-box;
}
* {
  outline: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #007fff;
}
.flex {
  display: flex;
  height: 100%;
}
.boite {
  display: flex;
}
.boite {
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  width: 650px;
  min-height: 100px;
  background-color: #3894b2;
  justify-content: center;
  align-items: center;
}
img {
  position: relative;
  top: -10px;
  margin: auto;
  border-radius: 15px 15px 15px 15px;
  min-width: 300px;
  height: 300px;
}
.titre {
  display: flex;
}
.titre {
  margin: auto;
  padding-top: 10px;
  font-size: 47px;
  font-family: Audiowide, sans-serif;
  color: black;
  justify-content: center;
  align-self: center;
}
.texte {
  display: flex;
}
.texte {
  text-align: justify;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  margin: auto;
  padding-bottom: 14px;
  width: 91%;
  align-self: center;
  font-family: lato, sans-serif;
  color: black;
}
h2 {
  display: flex;
}
h2 {
  align-self: center;
  font-family: lato, sans-serif;
  color: black;
}
.flex,
h1,
.texte,
h2,
img,
.boite {
  flex-direction: column-reverse;
}
.flex,
h1,
.boite {
  order: 2;
}
.boite,
h2,
.flex {
  order: 1;
}
.boite,
.bouton {
  order: -2;
}
.bouton {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin: auto;
}
.no1 {
  color: white;
}
.no2 {
  color: white;
}
.no3 {
  color: white;
}
button {
  position: relative;
  bottom: 12px;
  font-family: lato, sans-serif;
  font-weight: bold;
  background-color: #007fff;
  display: inline-block;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  border-style: none;
  cursor: pointer;
}
button:hover {
  background: #286185;
}
